/* ----------------サイト内共通------------------- */
body {
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}
/*   ボタンタグ設定   */
   button {
    display: block;
    background-color: #193A66;
    border: none;
    padding: 0;
    width: 42px;
    height: 42px;
    color: #ffffff;
    letter-spacing: 0.1em;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
    text-align: center;
    outline: none;
  }
    button2 {
    display: block;
    background-color: #FFF;
    border: none;
    padding: 0;
    width: 42px;
    height: 42px;
    color: #C5C5C5;
    letter-spacing: 0.1em;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
    text-align: center;
    outline: none;
  }
  /*   ハンバーガーボタン3本線   */
  button span.bar {
    display: block;
    height: 2px;
    background-color: #fff;
    margin: 6px 10px;
    transition: all 0.2s;
    transform-origin: 0 0;
  }
  /*  メニューアクティブ時  */

  button.active span.bar {
    width: 27px;
  }
  button.active .bar1 {
    transform: rotate(37deg);
    margin: 3px 10px;
  }
  button.active .bar2 {
    opacity: 0;
  }
  button.active .bar3 {
    transform: rotate(-37deg);
    margin: 3px 10px;
  }
  
  /*  ドロワーメニュー  */
   nav {
    width: 400px;
    height: 100%;
    transition: all 0.2s;
    transform: translate(400px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: #121E44;
   }
   nav.open {
    transform: translate(0); 
   }
   .navmenu {
       padding-top: 100px;
       padding-left: 50px;
   }
   .navmenu>p {
       font-size: 18px;

       color: #FFF;
   }
   .navmenu>hr {
	border-top: 1px solid #193A67;
	margin-bottom: 40px;
}
.navmenu>p>a {
    color: #FFF;
}

  /*  トップバー  */
.topbar>ul {
    padding-left: 20px;
}

  /*  フッター  */
footer {
    border-top: 1px solid #121E44
}
.footermenu>ul {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 10px;
}
.footermenu li {
    display: inline;
    padding: 0 12px;
    border-right:1px solid #000;
}
.footermenu li:last-child {
    border-right: none;
}
.footermenu a {
    color: #000;
}
.copyright {
    background-color: #121E44;
    color: #fff;
    text-align: center;
    padding: 20px 0 20px;
}
#pageTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-weight: bold;
    color: #2C84DC;
}
#pageTop a {
    display: block;
    z-index: 999;
    padding-top: 10px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background-color: #193A67;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
  /*  ボタン類  */
.readmore_btn {
    display: inline-block;
    padding: 7px 20px;
	border-radius: 20px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #2D92E5 0%, #1E5799 100%);
    background-image: linear-gradient(45deg, #2D92E5 0%, #1E5799 100%);
    transition: .4s;
    margin-top: 20px;
}

.readmore_btn:hover {
    background-image: -webkit-linear-gradient(45deg, #0B81E2 0%, #014899 100%);
    background-image: linear-gradient(45deg, #0B81E2 0%, #014899 100%);
    text-decoration: none;
    color: #FFF;
}
.contact_btn {
    display: inline-block;
    padding: 7px 30px;
	border-radius: 20px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #2D92E5 0%, #1E5799 100%);
    background-image: linear-gradient(45deg, #2D92E5 0%, #1E5799 100%);
    transition: .4s;
}

.contact_btn:hover {
    background-image: -webkit-linear-gradient(45deg, #0B81E2 0%, #014899 100%);
    background-image: linear-gradient(45deg, #0B81E2 0%, #014899 100%);
    text-decoration: none;
    color: #FFF;
}
hr {
    border: solid 1px #121E44;
    margin-bottom: 60px;
}
/* ----------------index.html------------------- */
/* パソコンで見たときはpcサイズのレイアウトが出る */
.pctop,.pctop2,.pcinterviewtop {display: block !important; }
.sptop,.sptop2,.spinterviewtop { display: none !important; }
/* スマートフォンで見たときはspサイズのレイアウトが出る */
@media only screen and (max-width: 768px) {
.pctop,.pctop2,.pcinterviewtop { display: none !important; }
.sptop,.sptop2,.spinterviewtop { display: block !important; }
}
.pctop {
    height: 0;
     /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
    padding-top: 50.1%;
    background: url(images/top_main_b.jpg) 0 0 no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}
.sptop {
    height: 0;
     /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
    padding-top: 110.7%;
    background: url(images/top_sp.jpg) 0 0 no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}
.step {
    margin-top: 200px;
    line-height: 2em;
}
h3 {
    font-weight: bold;
    margin-bottom: 20px;
}
.step1 {
    border: 1px solid #CEE3F6;
    padding: 40px 40px;
    margin-bottom: 100px;
}
.step2 {
    border: 1px solid #CEE3F6;
    padding: 40px 0px 40px 200px;
    position: relative;
    z-index: 0;
}
.stepsp {
    border: 1px solid #CEE3F6;
    padding: 40px 40px;
    margin: 0 20px 100px 20px;
    
}
.stepmidasi1 {
    color: #47B2DD;
    font-size: 15px;
    font-weight: bold;
}
.stepmidasi2 {
    color: #2652A4;
    font-size: 15px;
    font-weight: bold;
}
.step1>p>span,
.step2>p>span,
.stepsp>p>span{
    font-size: 25px;
    font-weight: bold;
}
.stepimg1 {
    position: relative;
    top: -100px;
    right: 80%; 
}
.stepimg2 {
    position: relative;
    top: -150px;
    z-index: 10;
}
.stepb {
    margin-top: 80px;
    line-height: 2em;
}
.stepimg3 {
    position: relative;
    top: 20px;
    text-align: right;
}
.stepimg4 {
    position: relative;
    top: 20px;
    z-index: 0;
}
.stepimg3>img,
.stepimg4>img {
    width: 80%;
}
.top-content {
    padding-bottom: 200px;
}

/* ----------------staff.html & executive.html------------------- */
.topbar {
    background-color: #FFF;
    margin-top: 20px;
    margin-bottom: 20px;
}
.topbar>ul>li {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
}
.topbar img {
    width: 100px;
    height: auto;
}
.nanamepc {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 300px 300px 0 0;
    border-color: #2652a4 transparent transparent transparent;
}
.nanamesp {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 150px 0 0;
    border-color: #2652a4 transparent transparent transparent;
}
.staff-midasipc {
    font-weight: bold;
    font-size: 15px;
    color: #FFF;
    position: relative;
    top: -270px;
    padding-left: 50px;
}
.staff-midasisp {
    font-weight: bold;
    font-size: 15px;
    color: #FFF;
    position: relative;
    top: -130px;
    padding-left: 30px;
}
.staff-midasipc>span,
.staff-midasisp>span {
    font-size: 25px;
}
.staff-textpc {
    font-size: 18px;
    position: relative;
    top: -200px;
    left: 30%;
}
.staff-textsp {
    position: relative;
    top: -100px;
    padding-left: 50px;
}
.staff-textpc>p>span,
.staff-textsp>p>span {
    color: #5575ff;
    font-weight: bold;
    text-decoration: underline;
}
.staffcard {
    padding: 10px;
    margin-bottom: 30px;
}
.staffcard img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.staffcard a {
    color: #000;
}
.staffname {
    margin-top: 20px;
    font-size: 20px;
}
.staffname>span {
    font-size: 15px;
    color: #2652a4;
}
.staff-content {
    padding-bottom: 200px;
}
/* ----------------staff_interview.html------------------- */
.nanamepc2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 300px 300px 0 0;
    border-color: #2652a4 transparent transparent transparent;
    margin-bottom: -377px;
}
.nanamepc3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 300px 300px 0 0;
    border-color: #2652a4 transparent transparent transparent;
    margin-bottom: -356px;
}
.staff-midasipc2 {
    font-weight: bold;
    font-size: 15px;
    color: #FFF;
    position: relative;
    top: 100px;
    padding-left: 50px;
}
.staff-midasipc2 {
    font-weight: bold;
    font-size: 15px;
    color: #FFF;
    position: relative;
    top: 100px;
    padding-left: 50px;
}
.staff-midasipc2>span,
.staff-midasisp>span {
    font-size: 25px;
}
.staff-midasisph3 {
    padding-right: 20px;
    text-align: right;
    position: relative;
    top: -220px;
}
.pcinterviewtop {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index:-10;
}
.pcinterviewtop>img {
    width: 100%;
}
.spinterviewtop {
    position: relative;
    top: -220px;
    z-index: -10;
    height: 0;
     /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
    padding-top: 60%;
    background: url(images/gazou.jpg) 0 0 no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    margin-bottom: -200px;
    
}
.spinterviewtop2 {
    position: relative;
    top: -220px;
    z-index: -10;
    height: 0;
     /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
    padding-top: 60%;
    background: url(images/executive01.jpg) 0 0 no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    margin-bottom: -200px;
    
}
.staffcard2 {
    text-align: left;
    width: 250px;
    float: right;
    padding: 20px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    background-color: #FFF;
}
.staffcard3 {
    margin-bottom: 30px;
}
.staffcard3>h3 {
    line-height: 1.5em;
}
.honbun01>h2 {
    margin: 50px 0 50px;
    font-weight: bold;
    margin-left: 100px;
    line-height: 1.8em;
}
.staffname2 {
    font-size: 20px;
}
.staffname2>span {
    font-size: 15px;
    color: #2652a4;
}
.honbun2 {
    margin-bottom: 50px;
}
.honbun2>p {
    margin: 0 10px 0 10px;
}
.honbun2 img {
    max-width: 100%;
    height: auto;
}
.honbunspimg01 {
    width: 80%;
    margin-left: auto;
    margin-bottom: 50px;
}
.honbunspimg02 {
    width: 80%;
    margin-bottom: 50px;
}
.honbunspimg01>img,
.honbunspimg02>img{
    width: 100%;
}

.attemiru {
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px;
}
.memberlink img {
    max-width: 100%;
    height: auto;
}
.memberlink {
    margin-bottom: 30px;
}

/* ----------------contact.html------------------- */
.contact_title {
    position: relative;
    z-index: -10;
    height: 0;
     /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
    padding-top: 25%;
    background: url(images/contact_title.jpg) 0 0 no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}
   /* 表示領域が320px以下の場合に適用するスタイル */
@media screen and (max-width: 420px) {
.staff-midasisph3>h3 {
    font-size: 15px;
    font-weight: bold;
    }
.staffcard3 h3 {
    font-size: 18px;
    font-weight: bold;
    }
    /*  ドロワーメニュー  */
   nav {
    width: 300px;}
}
